services:
  mageai:
    build: .
    image: poleng_mlops:latest
    container_name: poleng_services
    ports:
      - "6789:6789" 
    # environment:
    #   - MAGE_PORT=6789
    command: >
      bash -c "mage start mageai/poleng --host 0.0.0.0 --port 6789"
    # volumes:
    #   - .:/app  

  mlflow:
    build: .
    image: poleng_mlops:latest
    container_name: poleng_services
    ports:
      - "5000:5000"  
    # environment:
    #   - MLFLOW_TRACKING_URI=http://mlflow:5000
    command: >
      bash -c "mlflow server --backend-store-uri sqlite:///mlflow/mlflow.db --default-artifact-root ./mlflow/mlruns/poleng --host 0.0.0.0 --port 5000"
    # volumes:
    #   - .:/app  
